Extres/
ref.bib
Treball_Recerca.pdf
designer*.lnk
Programa/CreadorGrafs/GraphHopper Maps - Driving Directions.html
Programa/CreadorGrafs/GraphHopper Maps - Driving Directions_files/*
Programa/map.png
Programa/*.png
Programa/output.py
Programa/main_window.ui
Programa/__pycache__/*
Programa/CreadorGrafs/*
Programa/main_window_test.py
Programa/connection.csv
Programa/assets/*.xcf
Programa/assets/indicador_test.png
Imatges/*
!Imatges/App.PNG
!Imatges/App2.PNG
!Imatges/logo.png